@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;600;700;800&family=JetBrains+Mono:wght@400;600&display=swap");
@import "tailwindcss";

html, body {
    font-family: "Inter", system-ui, sans-serif;
    background-color: #f9fafb;
    margin: 0;
    padding: 0;
}
